html, body {
  width: 100%;
  padding: 0 0;
  margin: 0 0;
  font-family: "Roboto", "Shrikhand", sans-serif;
}
@media (min-width: 750px) {
  html, body {
    width: 750px;
    margin: 0 auto;
  }
}

.spinner {
  background: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  animation: disappear 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  border: 16px solid #f6f6f6;
  width: 120px;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: chargeur 3s linear;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  25% {
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  75% {
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
    opacity: 0;
  }
}
footer {
  background-color: black;
  color: white;
  height: 200px;
  bottom: 0;
}
footer .titleFooter {
  font-family: "Shrikhand";
  font-size: large;
  margin-top: 10px;
}
footer .container-bottom {
  margin: 0 20px;
  padding: 5px;
}
footer .content-bottom {
  padding: 5px;
}
footer .content-bottom i {
  margin-right: 3px;
  width: 20px;
  text-align: center;
}
footer .content-bottom a:link {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .icon-back {
  flex: 1;
  text-decoration: none;
  color: black;
}
header .titleHeader {
  margin: auto;
  font-family: "Shrikhand";
}

/*explor*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #EAEAEAEA;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}
.search i {
  margin-right: 10px;
  padding-bottom: 7px;
  font-size: 15px;
  margin-left: 25px;
}
.search input {
  background-color: #EAEAEAEA;
  margin-left: 5px;
}
.search input:focus {
  outline: none;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.suggestion h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 0 70px;
  font-family: "Roboto", sans-serif;
}
.suggestion span {
  padding: 0px 30px;
  font-size: 20px;
  font-weight: 100;
}
.suggestion .primaryButton {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 4px 4px 6px #aaa;
  margin: 50px;
  height: 55px;
  animation-delay: 4000ms;
}
.suggestion .primaryButton:hover {
  background: #dc56cc;
}

/*steps*/
.steps {
  display: flex;
  flex-direction: column;
}
.steps h2 {
  margin-left: 30px;
}
.steps .step {
  margin: 0 20px 20px 40px;
  background-color: #f6f6f6;
  padding: 30px 50px 30px 18px;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}
.steps .step:hover {
  background-color: #f5edff;
}
.steps .step:hover:hover .fas {
  color: #9356DC;
}
.steps .fas {
  margin-right: 30px;
  padding-left: 20px;
  color: #7a7a7a;
}
.steps .number {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  top: 30%;
  left: -4%;
  text-align: center;
}

/*Results*/
#results {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  padding-top: 20px;
}
#results h2 {
  margin-left: 30px;
  margin-bottom: 50px;
}
#results .card {
  border-radius: 15px;
  width: 78%;
  height: 280px;
  -webkit-box-shadow: 0 5px 16px #0000002e;
  box-shadow: 0 5px 16px #0000002e;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#results .card img {
  width: 100%;
  height: 190px;
  border-radius: 14px 14px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
#results .card .cardLabel {
  position: absolute;
  top: 13px;
  right: 8px;
  background: #99e2d0;
  padding: 4px 13px;
  font-size: 14px;
  color: #369658;
  font-weight: 700;
}
#results .card .title {
  margin-left: 20px;
}
#results .card .subtitle {
  margin-left: 20px;
  font-weight: 100;
}
#results .card .far {
  position: absolute;
  right: 28px;
  bottom: 30px;
  font-size: 30px;
  color: black;
}
#results .card .far:active {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.mainImage {
  width: 78%;
  height: 280px;
  -webkit-box-shadow: 0 5px 16px #0000002e;
  box-shadow: 0 5px 16px #0000002e;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.mainImage img {
  width: 100%;
  height: 190px;
  border-radius: 14px 14px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
