html, body {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Roboto','Shrikhand',sans-serif;
    @media (min-width: 750px) {
        margin: 0 auto;
        font-family: 'Roboto','Shrikhand',sans-serif;
    }
}

$color-Primary: #9356DC;
$color-Secondary: #FF79DA;
$color-Tertiary: #99E2D0;
$color-Inputcolor: #EAEAEA;
$color-check: #94e2d1;

@import "utils/animation.scss";
@import "utils/mixin.scss";
@import "layout/footer.scss";
@import "layout/header.scss";
@import "pages/home-page.scss";
@import "pages/resto.scss";



