footer {
    background-color: black;
    color: white;
    height: 200px;
    bottom: 0;
    .titleFooter{
        font-family: 'Shrikhand';
        font-size:large;
        margin-top: 10px;
    }
    .container-bottom {
        margin: 20px ;
        padding: 5px;
    }
    .content-bottom {
        padding: 5px;
        & i {
            margin-right: 3px;
            width: 20px;
            text-align: center;
        }
        a:link{
            color: white;
            text-decoration: none;
        }
    }
}


