.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: $color-Inputcolor;
    box-shadow:  inset 0 1px 3px rgba(0, 0, 0, 0.25);
    i{
        margin-right: 10px;
        padding-bottom: 7px;
        font-size: 15px;
        margin-left: 25px;
    }
    input{
        background-color: $color-Inputcolor;
        margin-left: 5px;
    &:focus {
        outline:none;
    }
  }    
}

.suggestion{   
    display: flex;
	flex-direction: column;
	align-items: center;
	text-align:center;
	background-color: #f6f6f6;

    h1{
        font-size: 30px;
        font-weight: 700;
        padding: 0 70px;
        font-family: 'Roboto', sans-serif;
    }
    span{
        padding: 0px 30px;
        font-size: 20px;
        font-weight: 100;
    }
    .primaryButton{
        @include primaryButton;
        &:hover {
            @include hover($color-Primary);
        }
    }
}

  .steps{
     display: wrap;
     flex-direction: column;
     
      h2{
        margin-left: 30px;
      }
      .step{
        margin: 0 20px 20px 40px;
        background-color: #F6F6F6;
        padding: 30px 50px 30px 18px;
        border-radius: 20px;
        position: relative;
        font-family: "Roboto", sans-serif;
        text-align: justify;
        &:hover {
            background-color: #f5edff;
            &:hover .fas {
                color: #9356DC;
              }
          }
      }
      .fas{
        margin-right: 30px;
        padding-left: 20px;
        color: #7a7a7a;
    }
  
    .number {
      width: 18px;
      height: 18px;
      padding: 4px 4px;
      border-radius: 50%;
      background-color: #9356DC;
      color: #FFF;
      position: absolute;
      top: 30%;
      left: -4%;
      text-align: center;
    }
    
  }


  

 




















