/*explor*/

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: $color-Inputcolor;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    i {
        margin-right: 10px;
        padding-bottom: 7px;
        font-size: 15px;
        margin-left: 25px;
    }
    input {
        background-color: $color-Inputcolor;
        margin-left: 5px;
        &:focus {
            outline: none;
        }
    }
}

.suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;

    h1 {
        font-size: 30px;
        font-weight: 700;
        padding: 0 70px;
        font-family: "Roboto", sans-serif;
    }
    span {
        padding: 0px 30px;
        font-size: 20px;
        font-weight: 100;
    }
    .primaryButton {
        @include primaryButton;
    }
}

/*steps*/
.steps {
    display: flex;
    flex-direction: column;

    h2 {
        margin-left: 30px;
        font-weight: 700;
    }
    .step {
        margin: 0 20px 20px 40px;
        background-color: #f6f6f6;
        padding: 30px 50px 30px 18px;
        border-radius: 20px;
        position: relative;
        font-family: "Roboto", sans-serif;
        text-align: justify;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #f5edff;
            &:hover .fas {
                color: $color-Primary;
            }
        }
    }
    .fas {
        margin-right: 30px;
        padding-left: 20px;
        color: #7a7a7a;
    }

    .number {
        width: 18px;
        height: 18px;
        padding: 4px 4px;
        border-radius: 50%;
        background-color: $color-Primary;
        color: #fff;
        text-align: center;
        margin-left: -30px;
    }
}

/*Results*/
#results {
    background-color: #f6f6f6;
    padding-bottom: 100px;
    padding-top: 20px;
    h2 {
        margin-left: 30px;
        margin-bottom: 50px;
        font-weight: 700;
    }
    .card {
        border-radius: 15px;
        width: 78%;
        height: 280px;
        -webkit-box-shadow: 0 5px 16px #0000002e;
        box-shadow: 0 5px 16px #0000002e;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 190px;
            border-radius: 14px 14px 0px 0px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .cardLabel {
            position: absolute;
            top: 13px;
            right: 8px;
            background: #99e2d0;
            padding: 4px 13px;
            font-size: 14px;
            color: #369658;
            font-weight: 700;
        }
        .title {
            margin-left: 20px;
        }
        .subtitle {
            margin-left: 20px;
            font-weight: 100;
        }
        .far {
            position: absolute;
            right: 28px;
            bottom: 30px;
            font-size: 30px;
            color: black;
            cursor: pointer;
            &:hover {
                animation: fill 0.5s ease-in-out;
                display: inline-block;
                opacity: 1;
                background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }
        }
    }
}
