.mainImage {
    
    width: 78%;
    height: 280px;
    -webkit-box-shadow: 0 5px 16px #0000002e;
    box-shadow: 0 5px 16px #0000002e;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    img {
        width: 100%;
        height: 190px;
        border-radius: 14px 14px 0px 0px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}