
.spinner{
    background: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    animation: disappear 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

.loader{
    border: 16px solid #f6f6f6;
    width: 120px;
    height: 120px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-top-color:  $color-Primary;
    border-bottom-color: $color-Secondary;
    border-radius: 50%;
    animation: chargeur 3s linear;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    display: flex;
    align-items: center;
    justify-content: center;
 }

@keyframes chargeur {  
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: $color-Primary;
      border-bottom-color: $color-Primary;
      opacity: 0;
    }
    1%{
        opacity: 1;
      }
    25%{
      border-top-color: $color-Secondary;
      border-bottom-color: $color-Secondary;
    }
    50% {
       transform: rotate(360deg) scale(1.15);
      border-top-color: $color-Primary;
      border-bottom-color: $color-Primary;
    }
    75%{
      border-top-color: $color-Secondary;
      border-bottom-color: $color-Secondary;
    }
    99%{
        opacity: 1;
      }
    100%{
       transform: rotate(720deg) scale(1);
      border-top-color: $color-Primary;
      border-bottom-color: $color-Primary;
      opacity: 0;
    } 
  }


  @keyframes check {  
    0%{
      transform: rotate(0deg);
      opacity: 0;
    }
  
    
    100%{
       transform: rotate(360deg);
       opacity: 1;
    } 
  }

  @keyframes slideIn {
    0%{
      width: 0;
    }
    100%{
      width: 4rem;
    }
  }

  @keyframes fill {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  /*.animation1{
    animation: one 0.2s;
    position: relative;
  }

  .animation2{
    animation: one 0.4s;
    position: relative;
  }

  .animation3{
    animation: one 0.6s;
    position: relative;
  }

  .animation4{
    animation: one 0.8s;
    position: relative;
  }

  .animation5{
    animation: one 1s;
    position: relative;
  }

  .animation6{
    animation: one 1.2s;
    position: relative;
  }

  .animation7{
    animation: one 1.4s;
    position: relative;
  }

  .animation8{
    animation: one 1.6s;
    position: relative;
  }

  .animation9{
    animation: one 1.8s;
    position: relative;
  }*/

  @for $i from 1 through 10 {
    .animation#{$i} {
      animation: one #{$i}s;
      position: relative;
    }
}

  @keyframes one{
    from{
      margin-bottom: 300px;
      opacity: 0;
    }
    to{
      margin-bottom: 0px;
      opacity: 1;
    }
  }

  




  
